.jumbotron h2 {
    font-weight: 700;
    text-align: center;
    color: grey ;
    font-size: 38px;
}
.underlineHeader {
    width: 70px;
    height: 2px;
    background: #c80910;
    margin: 15px auto;
}

.container p {
    font-size: 15px;
    line-height: inherit;
    font-weight: 400;
    color: #737373;
    text-align: center;
}
.container h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    color: #585858;
}
.underline {
    width: 70px;
    height: 2px;
    background: #c80910;
    margin: 15px auto;
    margin-bottom: 40px;
}
.QA h4{
    font-weight: 700;
    font-size: 20px;
}
.QA p {
    text-align: left;
    margin-top: 20px;
}
.QA li {
    font-size: 14px;
    color: #737373;
}