.whyusComp {
  .whyusImgDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  h4 {
    font-weight: 800;
    text-align: center;
  }
}

.ideaContainer {
  img {
    width: 100%;
  }
  h1 {
    font-weight: 800;
  }
  h4 {
    font-weight: 800;
    margin-bottom: 20px;
  }
  p {
    text-align: left;
  }

  .whyusHeading {
    p {
      text-align: center;
    }
  }
}
