$font : Montserrat , sans-serif ;

.successIcon {
    display: flex;
    justify-content: center;
}

.checkout {
    font-family: $font; 
    i {
        color: rgb(58, 175, 58);
    }
    h4{
        text-align: center;
        margin-top: 30px;
    }
}

.orderSummary {
    display: flex;
    justify-content: center;
}

.orderDetails {
    background-color: #f9f9f9;
}

.orderDescription {

    margin-left: auto;
    margin-right: auto; 
    div {
        display: flex;
        justify-content: space-around;
        margin: 0px -40px 0px -40px;
        border-bottom: 1px solid rgb(199, 195, 195);
        padding: 13px;
        p{
            text-align: left !important;
            font: 15px $font;
            margin-top: 10px;
            color: #444444;
        }
        strong {
            margin-top: 10px;
        }
    }

    h4{
        margin-bottom: 20px;
        font: 24px $font;
    }
    
}
.description {
    display: flex;
    align-items: center;
    text-align: left !important;
    div {
        float: left !important;
        border-bottom: 0px;
    }
}

.productDetails {
    display: flex;
    flex-direction: column ;
}
.headingOrder {
    p{
        font-weight: bold !important ;
        font-size: 17px;
    }
}