@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container-fluid{
    font-family: 'Montserrat', cursive;
}
.nav-link {
    font-size: 17px;
    font-weight: bold;
}
.navbarItems {
    margin-left: 6em;
}
.signinBtn {
    margin-left: auto;
    margin-right: 10px;
}
.navItem {
    border: 0px !important;
    box-shadow: #f6f7ff !important;
}
.dropdownBtn {
    background-color: #f6f7ff !important;  
    color:  rgba(0,0,0,.55) !important;
    border: 0px !important;
    font-weight: bold !important;
    padding: 8px !important;
    font-size: 17px !important; 
    box-shadow: #f6f7ff !important;
}
.dropdownBtn:focus {
    box-shadow: #f6f7ff !important;
    border-color: #f6f7ff !important;
}
.dropMenu {
    width: 270px !important; 
    border: 0px !important;
}
.container-fluid {
    background-color: #f6f7ff;
}
.list-group-item {
    padding: 10px !important;
    padding-left: 20px !important;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }