.rideWithus {
        h2 {
            text-align: center;
        }
}
.rideSection {
    img {
        width: 100%;
    }
    h3 {
        text-align: left;
        margin-bottom: 20px;
    }
    p{
        text-align: left;
    }
}