$font: Mantserrat, sans-serif;

.bodyBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-position: top;
  background-position-y: -100px;

  img {
    width: 100%;
    height: 100vh;
  }

  h1 {
    font: 60px $font;
    font-weight: bold;
    color: #fff;
    text-align: left;
  }

  button {
    float: left;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    width: 40%;
    border-radius: 0px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 20px;
  }

  button:hover {
    color: rgb(243, 177, 54);
    background-color: #fff;
  }
}

.top-left {
  position: absolute;
  top: 15%;
  left: 35%;
}

.bodyBackground {
  position: relative;
  text-align: center;
  color: white;
  margin-left: -90px;
}

.rentImg {
  margin-top: -30px;
  width: 45% !important;
  height: 15% !important;
}

.centered {
  p {
    position: absolute;
    top: 63%;
    left: 58%;
    font: 19px $font;
  }

  h3 {
    position: absolute;
    top: 70%;
    left: 52%;
    font-size: 30px;
    font-weight: bold;
  }
}

.getDateTime {
  margin-top: -65px;
  background-color: #f7f7fc;
  padding: 40px;
  border-bottom: 2px solid rgb(12, 12, 12);
  -webkit-box-shadow: 0 0 20px rgb(197, 185, 185);
  box-shadow: 0 0 20px rgb(185, 181, 181);

  h1 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.dateTimeBlock {
  display: flex;

  p {
    font-size: 16px;
    color: black;
    font-family: $font;
  }
}

.form-inline {
  display: flex;
  justify-content: center;
}

.pickAndDropElement {
  margin-left: 20px;
}

.calenderPick {
  margin-left: 20px !important;
  border: 0px;
  background-color: #f5f5f8;
  border-bottom: 1px solid rgb(182, 180, 180) !important;
}

.searchBikeBtn {
  width: 150px;
  margin-left: 30px;
  border: 0px !important;
  border-radius: 0px !important;
  background-color: rgb(96, 167, 96) !important;
  color: #fff !important;
}

.searchBikeBtn:hover {
  width: 150px;
  margin-left: 30px;
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  background-color: rgb(15, 129, 15) !important;
  color: #fff !important;
}

.citySelect {
  margin-left: 20px;

  select {
    width: 200px;
    border: 0px;
    border-bottom: 1px solid #4444;
    background-color: #f5f5f8;
  }
}

@media screen and (min-width: 1600px) {
  .bodyBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70vh;
    background-position: top;
    background-position-y: -200px;

    img {
      width: 80%;
      height: 70vh;
    }

    h1 {
      font: 80px $font;
      font-weight: bold;
      color: #fff;
      text-align: left;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .bodyBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 88vh;
    background-position: top;
    background-position-y: -100px;

    img {
      width: 100%;
      height: 88vh;
    }

    h1 {
      font: 60px $font;
      font-weight: bold;
      color: #fff;
      text-align: left;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .bodyBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 75vh;
    background-position: top;
    background-position-y: -100px;

    img {
      width: 100%;
      height: 75vh;
    }

    h1 {
      font: 47px $font;
      font-weight: bold;
      color: #fff;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .centered {
    p {
      position: absolute;
      top: 63%;
      left: 60%;
      font: 16px $font;
    }

    h3 {
      position: absolute;
      top: 70%;
      left: 54%;
      font-size: 23px;
      font-weight: bold;
    }
  }

  .bodyBackground {
    button {
      width: auto;
    }
  }

  .citySelect {
    margin-left: 20px;

    select {
      width: auto;
      border: 0px;
      border-bottom: 1px solid #4444;
      background-color: #f5f5f8;
    }
  }
}

@media screen and (max-width: 768px) {
  .bodyBackground {
    h1 {
      font: 40px $font !important;
      font-weight: bold !important;
      color: #fff;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .dateTimeBlock {
    display: flex;
    flex-direction: column;

    p {
      font-size: 16px;
      color: black;
      font-family: $font;
      margin-top: 10px;
    }

    .searchBikeBtn {
      margin-top: 30px;
    }
  }

  .centered {
    p {
      position: absolute;
      top: 63%;
      left: 60%;
      font: 16px $font;
    }

    h3 {
      position: absolute;
      top: 70%;
      left: 54%;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .bodyBackground {
    button {
      width: auto;
      margin-left: -30px;
    }
  }

  .citySelect {
    margin-left: 20px;

    select {
      width: 97% !important;
      border: 0px;
      border-bottom: 1px solid #4444;
      background-color: #f5f5f8;
    }
  }

  .form-inline {
    display: flex;
    margin-left: 50px;

    .dateTimeBlock {
      width: 100%;
    }
  }

  .calenderPick {
    width: 85% !important;
  }

  .searchBikeBtn {
    width: 80% !important;
  }

  .dateTimeBlock {
    margin-top: -10px;
  }

  .pickAndDropElement {
    font-weight: bold !important;
    text-decoration: underline;
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 950px) {
  .bodyBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0px !important;
    height: 100% !important;
    overflow: hidden !important;
    background-position: top;

    img {
      width: 90%;
      margin-left: -50px;
      height: 100% !important;
      overflow: hidden !important;
    }

    .centered {
      p {
        position: absolute;
        top: 74%;
        left: 62%;
        font: 12px $font;
      }

      h3 {
        position: absolute;
        top: 80%;
        left: 58%;
        font-size: 14px;
        font-weight: bold;
      }

      .rentImg {
        width: 110px !important;
        height: 110px !important;
        margin-left: -25px;
        margin-top: 0px;
      }
    }
  }

  .dateTimeBlock {
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
      font-size: 16px;
      color: black;
      font-family: $font;
      margin-top: 10px;
    }

    .searchBikeBtn {
      margin-top: 30px;
    }

    .citySelect {
      margin-left: 20px;

      select {
        width: 100%;
        border: 0px;
        border-bottom: 1px solid #4444;
        background-color: #f5f5f8;
      }
    }

    .form-inline {
      display: flex;
      margin-left: 50px;

      .dateTimeBlock {
        width: 100%;
      }
    }

    .calenderPick {
      width: 95%;
    }

    .searchBikeBtn {
      width: 90%;
    }

    .dateTimeBlock {
      margin-top: -10px;
    }

    .pickAndDropElement {
      font-weight: bold !important;
      text-decoration: underline;
      margin-bottom: 10px !important;
    }
  }
}

@media screen and (max-width:578px) {
  .bodyBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0px !important;

    // height: 61vh !important;
    height: 100% !important;
    overflow: hidden !important;
    background-position: top;

    img {
      width: 76%;
      margin-left: -50px;
      margin-top: -45px;
      height: 100% !important;
      overflow: hidden !important;
    }

    .findBikeBtn {
      width: 130px !important;
      font-size: 13px;
      margin-bottom: 20px;
    }

    .centered {
      p {
        position: absolute;
        top: 72%;
        left: 62%;
        font: 12px $font;
      }

      h3 {
        position: absolute;
        top: 79%;
        left: 57%;
        font-size: 14px;
        font-weight: bold;
      }

      .rentImg {
        width: 100px !important;
        height: 100px !important;
        margin-left: 5px;
        margin-top: 0px;
      }
    }

    h1 {
      font: 35px $font !important;
      font-weight: bold !important;
      color: #fff;
      text-align: left;
      margin-bottom: 30px;
      margin-left: -30px;
    }
  }

  .dateSelector {
    margin-top: 20px;
  }

  .form-inline {
    display: flex;
    margin-left: 0px !important;
  }

  .citySelect {
    select {
      width: 95%;
    }
  }

  .searchBikeBtn {
    width: 80%;
  }
}

@media screen and (max-width:400px) {
  .dateSelector {
    margin-top: 44px;
  }
}

@media screen and (max-width:350px) {
  .bodyBackground {
    height: 61vh !important;

    h1 {
      font: 35px $font !important;
      font-weight: bold !important;
      color: #fff;
      text-align: left;
      margin-bottom: 30px;
    }

    img {
      margin-left: -30px !important;
      height: 57.5vh !important;
      margin-top: -45px;
    }

    p {
      top: 66% !important;
      left: 53% !important;
    }

    h3 {
      top: 76% !important;
      left: 48% !important;
    }

    .findBikeBtn {
      margin-top: 0px;
    }

    .centered {
      margin-top: -35px;

      .rentImg {
        margin-left: 0px;
      }
    }
  }

  .citySelect {
    margin-left: 20px;

    select {
      width: 100% !important;
      border: 0px;
      border-bottom: 1px solid #4444;
      background-color: #f5f5f8;
    }
  }

  .form-inline {
    display: flex;
    margin-left: 50px;

    .dateTimeBlock {
      width: 100% !important;
    }
  }

  .calenderPick {
    width: 95% !important;
  }

  .searchBikeBtn {
    width: 90%;
  }

  .dateSelector {
    margin-top: -20px;
  }
}