.overlay {
    position: absolute;
    top: -30;
    bottom: 0;
    left: 10;
    right: 20;
    height: auto;
    width: 90%;
    opacity: 0.8;
    transition: .5s ease;
    background-color: #00000080;
    border-radius: 5px;
  }
#loadMore {
    opacity: 0.8;
}
  #loadMore:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .icon {
    color: #444;
    font-size: 20px;
    position: absolute;
    top: 30%;
    background-color: white !important;
    left: 50%;
    height: 30px;
    border-radius: 30px;
    padding: 6px;
    background-color: #444;
    /* bottom: 10%; */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.dateTimeModal {
    width: 370px !important;
}

.rentDetails p{
        text-align: left;
        padding: 5px;
        margin-left: 30px !important;
        font-size: 15px;
}
.rentDetails h2 {
    font-weight: 800 !important;
}
.rentDetails h6 {
    margin-bottom: 20px;
    font-weight: 600;
}
.rentDetails p strong {
    margin-left: 5px;
}
.bookNowBtn {
    width: 100%;
    margin-top: 30px;
    margin-bottom: -30px;
}
.individualBike {
    width: 100% !important;
    padding: 50px !important ;
    background-color: rgb(124, 68, 68);
    margin: 0px !important;
}
.bikeImg {
    width: 400px !important;
}
.bikeImgDiv {
  width: 100% !important;
}
