#loadMore {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5;
  right: 5;
  height: 100% !important;
  width: 91.3%;
  opacity: 0.8;
  transition: .5s ease;
  background-color:  #00000080;
}

#loadMore {
    opacity: 0.8;
}
  #loadMore:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: #444;
    font-size: 20px;
    position: absolute;
    top: 30%;
    background-color: white !important;
    left: 50%;
    height: 30px;
    border-radius: 30px;
    padding: 6px;
    background-color: #444;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.dateTimeModal {
    width: 370px !important;
}

.rentDetails p{
        text-align: left;
        padding: 5px;
        margin-left: 30px !important;
        font-size: 15px;
}
.rentDetails h2 {
    font-weight: 800 !important;
    text-align: center;
    margin-bottom: 25px;
}
.header h1 {
  text-align: center;
  font-weight: 700;
}

.rentDetails p strong {
    margin-left: 5px;
}
.bookNowBtn {
    width: 91% !important;
    margin-left: 12px;
    margin-top: 20px;
    margin-bottom: 0px !important;
}
.individualBike {
  background-color: #ffffff;
  padding: 2px !important;
  padding-top: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border: 2px solid whitesmoke;
  height: auto;
  z-index: 9999;
}
.allBikes {
  padding: 50px !important;
}
.bikeImg {
    width: 100% !important;
    height: 230px !important;
}
.bikeImgDiv {
  width: 100% !important;
}
.body {
  background-color: 	#F8F8F8 !important;
}

@media screen and (max-width : 400px) {
  .allBikes {
    padding: 15px !important;
  }
  
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5;
  right: 5;
  height: 100% !important;
  width: 91% !important;
  opacity: 0.8;
  transition: .5s ease;
  background-color:  #00000080;
}
.bikeImg {
  width: 100% !important;
  height: 190px !important;
}

}