ul.smothscroll {
    position: fixed;
    bottom: 25px;
    right:30px;
    list-style: none;
    z-index: 99;
}
ul.smothscroll li {
    background-color: rgb(8, 204, 127);
    width: 45px;
    height: 45px;
    line-height: 40px;
    border: 2px solid #08cc7f;
    border-radius: 0;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
ul.smothscroll li:hover {
    background-color: #08cc7f !important;
}

@media(max-width:767px){
    ul.smothscroll li {
        width: 30px;
        height: 30px;
        line-height: 25px;
    }
}